/* CSS Document */
/*defines style for html tag, no class used*/
body{
//background-position:center;
background-repeat:repeat;

//padding:5px 5px 5px 5px;
background-image:url(../imgs/paper_fibers.png);/*//double dot equals parent folder*/

}
H3{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;
font-weight: bold;
color:#FFFFFF;
text-decoration:none;
margin-top:10px;
text-shadow: 0 1px 1px rgba(0,0,0,1);
}
#mainContent
{
//width:95%;
padding:10px 10px 20px 10px;

}

.Frame{
width:800px;
border-left-style:ridge;
border-left-width:2px;
border-right-style:ridge;
border-right-width:2px;
-webkit-box-shadow: inset 20px 0px 20px rgba(255,255,255,0.4), inset -20px 0px 20px rgba(255,255,255,0.4);//left-right inset, top-bottom inset, radius

}

.IndexButton{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:20px;
font-weight: bold;
color:#FFFFFF;
text-decoration:none;
    text-shadow: 0 2px 2px rgba(0,0,0,1);
    cursor: pointer;
//width:70px;
float:right;
position:relative;
margin-top:70px;
padding: 5px 7px 5px 7px;
}
.IndexButton:hover
{
border-bottom-color:#FFFFFF;
border-bottom-style:ridge;
border-bottom-width:thick;
background-color:rgba(255,255,255,0.1);
}
.Shadow{
    -webkit-box-shadow:    inset 0px 5px 5px rgba(200,200,200,0.5),inset 0px -5px 20px rgba(0,0,0,0.5);
}
.navigationBar{
    height: 40px;
    border-width:3px 0px 3px 0px;
    border-style:ridge;
}
.banner{
width:auto;
height:110px;
position:relative;
margin-left: 10px;
margin-right: 20px;
}

.animation
{
-webkit-animation:IMGSanimation 50ms linear infinite normal; 
@-webkit-keyframes IMGSanimation{
0%{#bannerIMGl;}
100%{#bannerIMGs;}
}}
#bannerIMGs
{
width:40%;
float:left;
margin-top:10px;
}
#bannerIMGl
{
width:90%;
}
.EndofPage{
border-top-style:ridge;
border-top-width:2px;
height:100px;
}

#loginbox{
    width: 50%;
    text-align: left;
}
#CommonPage {
    width: 70%;
    text-align: left;
}





.button {  
    display: inline-block;  
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */  
    *display: inline;  
    vertical-align: baseline;  
    margin: 0 2px;  
    outline: none;  
    cursor: pointer;  
    text-align: center;  
    text-decoration: none;  
    font: 14px/100% Arial, Helvetica, sans-serif;  
    padding: .5em 2em .55em;  
    text-shadow: 0 1px 1px rgba(0,0,0,.3);  
    -webkit-border-radius: .5em;   
    -moz-border-radius: .5em;  
    border-radius: .5em;  
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);  
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);  
    box-shadow: 0 1px 2px rgba(0,0,0,.2);  
} 


/* blue */  
.blue {  
    color: #d9eef7;  
    border: solid 1px #0076a3;  
    background: #0095cd;  
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));  
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');  
}  
.blue:hover {  
    background: #007ead;  
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));  
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');  
}  
.blue:active {  
    color: #80bed6;  
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));  
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');  
}  